.slick-next::after{
    content: url(../images/prev.png);
}
.slick-prev::after{
    content: url(../images/next.png);
}
.hproduct-img{
    inset-inline-start: unset;
    inset-inline-end: 50%;
}
.play-btn{
    inset-inline-start: 50%;
}
.navbar-brand{
    margin-right: 30px;
}
.prev_page img {
    transform: rotate(180deg);
}
.navbar-light .navbar-toggler-icon {
    transform: rotate(180deg);
}
@media (max-width:991px) {
    .navbar-brand{
        inset-inline-start: unset;
        margin-right: unset;
        inset-inline-end: 50%;
    }
}
@media (max-width:767px) {
    .hero-btns a, .hero-btns button{
        width: unset;
    }
}