.slick-next::after{
    content: url(../images/prev.png);
}
.slick-prev::after{
    content: url(../images/next.png);
}
.hproduct-img{
    inset-inline-start: unset;
    inset-inline-end: 50%;
}
.play-btn{
    inset-inline-start: 50%;
}
.navbar-brand{
    margin-right: 30px;
}
.prev_page span i {
    transform: rotate(180deg);
}
.navbar-light .navbar-toggler-icon {
    transform: rotate(180deg);
}
.form-check .form-check-input{
    float: left;
    margin-left: unset;
}
.form-check-input + label{
    padding-inline-start: 8px;
}
.add_list .form-check-input + label{
    padding-inline-start: 24px;
}
.form-check.for_check{
    padding-left: unset;
    .form-check-input{
        margin-top: 0;
    }
}
.steps-progress .step-progress:not(:last-child)::before{
    inset-inline-start: 42px;
}
.steps-progress .step-progress:last-child::before{
    inset-inline-start: 60px;
}
form .form-select{
    background-position: right 8px center;
}
.sign_form .humous-circle{
    inset-inline-end: 50%;
    inset-inline-start: unset;
}
.no_dl .steps-progress .step-progress:not(:last-child)::before{
    inset-inline-start: 62px;
}
.support_footer .mailIcon{
    margin-inline-start: unset;
    margin-inline-end: 8px;
}
.getting_support_box.main, .wallet-balance, .seller_account_box{
    background-position-x: right;
}
.getting_support_box.aqua{
    background-position-x: left;
}
.video-popup{
    inset-inline-start: unset;
    inset-inline-end: 50%;
}
@media (max-width:991px) {
    .navbar-brand{
        inset-inline-start: unset;
        margin-right: unset;
        inset-inline-end: 50%;
    }
}
@media (max-width:767px) {
    .hero-btns a, .hero-btns button{
        padding-inline: unset;
    }
    .getting_support_box.aqua{
        padding-inline-start: 0;
    }
    #myForm > div > div.deal-step > ul > li:nth-child(3), .deal-wrapper .steps-progress > li:nth-child(3){
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .deal-wrapper .steps-progress{
        align-items: start !important;
    }
    .step-progress .progress-text, .no_dl .step-progress .progress-text{
        font-size: 8px;
    }
    .no_dl .steps-progress .step-progress:not(:last-child)::before{
        inset-inline-start: 36px;
    }
    .form-check.for_check .form-check-input{
        margin-top: unset;
    }
    .steps-progress .step-progress:not(:last-child)::before{
        inset-inline-start: 32px;
    }
}